Binaries
DerivedDataCache
Intermediate
Saved
/Content/ThirdPerson/Input/
/Content/ThirdPerson/Maps/
/Content/FirstPerson/
/Content/StarterContent/
/Content/TopDown/
/Content/Characters/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


Content/AssetPacks